

.pull-right-not-xs, .pull-right-not-sm, .pull-right-not-md, .pull-right-not-lg{
    float: right;
}

.pull-left-not-xs, .pull-left-not-sm, .pull-left-not-md, .pull-left-not-lg{
    float: left;
}
@media (max-width: 767px) {
    .pull-right-not-xs, .pull-left-not-xs{
        float: none;
    }
    .pull-right-xs {
        float: right;
    }
    .pull-left-xs {
        float: left;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .pull-right-not-sm, .pull-left-not-sm{
        float: none;
    }
    .pull-right-sm {
        float: right;
    }
    .pull-left-sm {
        float: left;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .pull-right-not-md, .pull-left-not-md{
        float: none;
    }
    .pull-right-md {
        float: right;
    }
    .pull-left-md {
        float: left;
    }
}
@media (min-width: 1200px) {
    .pull-right-not-lg, .pull-left-not-lg{
        float: none;
    }
    .pull-right-lg {
        float: right;
    }
    .pull-left-lg {
        float: left;
    }
}



.uppercase li {
    text-transform: uppercase;
}

.uppercase li a {
    font-size: 12px !important;
    letter-spacing: 2px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400 !important;
}

.become-partner {
    padding: 1em 0;
    text-align: center;
    background-color: #fa2557;
}

.newsletter {
    height: 325px;
    padding: 1em 0;
    text-align: center;
    background-color: #79c6e5;
    background-image: url('../assets/images/newsletter-bg.png');
    background-repeat: no-repeat;
    background-position: center;
}

.newsletter form {
    margin: 40px;
}

.newsletter form .email {
    font-size:12px;
    background-color: #91d1ec;
    border-color: #79c6e5;
    color: #FFF;
}

.newsletter .custom-btn {
    margin-left: 20px;
}

.newsletter ::-webkit-input-placeholder {
    color: #FFF;
}

.newsletter :-moz-placeholder { /* Firefox 18- */
    color: #FFF;
}

.newsletter ::-moz-placeholder { /* Firefox 19+ */
    color: #FFF;
}

.newsletter :-ms-input-placeholder {
    color: #FFF;
}

.newsletter .section-subheader {
    color: #b4def1;
}

.main-navigation {
    margin-bottom: 12px;
}

.fixed.header .main-navigation.animated .navbar-nav > li > a {
    padding: 15px 20px !important;
}

.header-left .logo {
    /*position: absolute;*/
    margin-top: 40px;
}

.header-left .logo.animated {
    /*position: absolute;*/
    margin-top: 20px;

}

.fixed-header-on .header .logo img {
    max-height: inherit;
}

body:not(.transparent-header) .header-container .header {
    background-image: none;
    background-color: #007299;
}


.transparent-header .main-navigation .navbar.navbar-default {
    width: inherit;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    background-color: transparent;
    border-color: transparent;
}

.transparent-header .main-navigation .navbar.navbar-default .navbar-toggle {
    background-color: transparent;
    border-color: transparent;
}

.navbar-collapse, .dark .navbar-default {
    border: 0;
}

body:not(.transparent-header) .header-container .header .nav.navbar-nav.navbar-right.uppercase {
    background-color: #007299;
    margin-top: 0;
}

@media (max-width: 767px) {
    .main-navigation {
        margin-top: 12px;
    }

    .transparent-header .main-navigation .navbar.navbar-default {
        top: 10px;
    }

    .navbar-collapse .active-menu {
        display: none;
    }

    #fullpage-menu {
        background-color: #007299;
        margin-top: 0;
    }
    /*.navbar-toggle {*/
        /*display: block;*/
    /*}*/

    /*#fullpage-menu {*/
        /*display: none;*/
    /*}*/
}

@media (min-width:768px) and (max-width: 991px)  {
    #logo.logo.top-nav.navbar-left {
        margin-top: 12px;
    }
}

.dark.header .navbar-default .navbar-nav > li > a {
    color: #fff;
    text-shadow: none;
}

.fixed-header-on .dark.header.fixed {
    background-color: #007299;
    padding-top: 10px;
}


.transparent-header .dark .main-navigation .navbar.navbar-default {
    background-color: inherit;
}

img#logo_img {
    display: inline;
}

.text-center {
    display:block;
    text-align: center;
}
.text-center img {
    padding-top: 40px;
}

.section-header {
    margin-top: 20px;
    margin-bottom: 10px;
    color: #FFF;
    font-size: 35px;
    font-weight: 800;
    text-transform: inherit;
}

.section-header-dark {
    padding-top: 30px;
    margin-top: 30px;
    color: #cccccc;
    font-size: 32px;
    font-weight: 800;
    text-align: center;
    text-transform: inherit;
}

.section-subheader {
    color: #FFF;
    font-size: 24px;
    font-weight: 700;
}

.custom-btn {
    background-color: #fa2557;
    color: #FFF;
    text-transform: uppercase;
    border-radius: 20px;
    font-size: 12px;
    font-weight: 700;
    padding: 10px 35px;
}

.custom-btn.btn:hover, .custom-btn.btn:focus, .custom-btn.btn.focus {
    color: #3b3d40;
}

.pink-btn {
    background-color: #fa2557;
    color: #FFF;
}

.white-btn {
    background-color: #FFF;
    color: #fa2557;
}

.pink-button:hover, .pink-button:focus, .pink-button:active, .pink-button.active, .open > .dropdown-toggle.pink-button {
    background: #33a6cc;
}

.pink-button:active, .pink-button.active {
    background: #007299;
    box-shadow: none;
}

footer {
    color: #f6f6f6;
}

footer {
    padding: 0 !important;
}

footer .top {
    background-color: #494A4D;
}

footer [class*="col-"] {
    margin: 20px 0;
}

footer .bottom {
    background-color: #3b3d40;
}

footer .section-header {
    color: #d4d4d4 !important;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
    margin-top: 30px;
}

footer ul {
    list-style: none;
}

footer a {
    color: #f6f6f6;
    text-decoration: none;
}

footer a:hover {
    color: #fa2557;
    text-decoration: none;
}

footer p.qa {
    font-style: italic;
}

.top-nav a {
    color: #fff;
    font-weight: 800;
    font-size: 13px;
}

.top-nav a.top-nav-link {
    letter-spacing: 1px !important;
}

.transparent-header .dark.header .navbar-nav > li > a {
    color: #fff;
    text-shadow: none;
}

.navbar-default .navbar-nav > li > a {
    font-weight: 700;
    font-size: 12px;
}

.top-nav > li > a:hover, .top-nav > li > a:focus {
    color: inherit;
    background-color: inherit;
}

.top-nav > li {
    float: left;
}

.navbar-default .navbar-nav > li > a {
    padding: 10px 15px;
}

.navbar-default .active-menu {
    width: 100%;
    border-color: #FFF;
    top: 18px;
    left: 0;
    position: absolute;
}

@media (max-width: 991px) and (min-width: 768px) {
    .header:not(.full-width) .main-navigation .navbar-nav {
        float: right !important;
    }
}

/*@media (max-width: 769px) {*/
    /*.logo {*/
        /*top: 27px;*/
    /*}*/
/*}*/

/*@media (max-width: 990px) and (min-width: 770px) {*/
    /*.logo {*/
        /*top: 10px;*/
    /*}*/
/*}*/

/*@media (min-width: 991px) {*/
    /*.logo {*/
        /*top: 40px;*/
    /*}*/
/*}*/

@media (min-width: 768px) {
    .newsletter form .email {
        min-width: 380px;
    }
}

.follow-us i {
    font-size: 30px;
}


.follow-us li {
    padding: 0 10px;
    display: inline;
}


.follow-us ul {
    list-style-type: none;
    padding: 0;
}

.follow-us ul img{
    display: inline-block;
    margin-top: 25px;
}

.follow-us .social-icons {
    margin-top: 38px;
}

.follow-us .social-icons li {
    padding: 0 17px;
}

.follow-us .store-links {
    margin-top: 10px;
}

.follow-us .store-links li {
    padding: 10px 20px;
}

footer .follow-us {
    margin-bottom: 50px;
}

.helpful-links a {
    font-weight: 100;
    font-size: 16px;
}

.helpful-links ul {
    padding:0;
}

.partners .section-header-dark, .become-partner .section-header {
    padding-top: 0;
    margin-top: 20px;
}

.bundles {
    background-image: url('../assets/images/bundle-left.png'), url('../assets/images/bundle-right.png');
    background-repeat: no-repeat;
    background-position: left center, right center;
    height: 100%;
    width: 100%;
}

.bundles img {
    text-align: center;
    margin: 0 auto;
}


.slideshow .slider-banner-container .bullet {
    background: rgba(255,255,255, 0.9) none repeat scroll 0 0 !important;
    margin-right: 10px !important;
}

.slideshow .slider-banner-container .bullet.selected, .slideshow .slider-banner-container .bullet:hover {
    background: rgba(186, 13, 51, 0.9) none repeat scroll 0 0 !important;
}

div.tparrows {
    display: none;
}

.mainpages-slider {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 2em;
    max-width: 600px;
    white-space: pre-line;
    text-align: left;
    position: relative;
    color: #fff;
    bottom: 30%;
    left: 15%;
}


.slidertitle {
    position: absolute;
    /* Safari */
    -webkit-transform: rotate(-90deg);

    /* Firefox */
    -moz-transform: rotate(-90deg);

    /* IE */
    -ms-transform: rotate(-90deg);

    /* Opera */
    -o-transform: rotate(-90deg);

    /* Internet Explorer */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);

    bottom: 33%;
    left: 1%;
    color: #fff;
    font-size: 40px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;

}

.bundles .section-header {
    color: #fa2557;
    text-align: center;
    padding-top: 0;
    margin-top: 20px;
}


.main-page-container .section-header {
    color: #fa4c72;
    font-size: 46px;
    font-weight: 800;
}


.main-page-title > p {
    font-size: 20px;
    font-weight: 400;
}

.main-page-container .main-page-title {
    color: #fa2557;
}

/*.main-page-container.partners {*/
    /*background-image: url('../assets/images/contact-bg-1.png'), url('../assets/images/contact-bg-2.png');*/
    /*background-repeat: no-repeat;*/
    /*background-position: left center, right center;*/
/*}*/

.educators .main-page-title, .partners .main-page-title {
    color: #75c6e7;
}

.parents.call-to-action {
    background-color: #fa2557;
}

.educators.call-to-action {
    background-color: #75c6e7;
}

.partners-bg {
    background-color: #fec41f;
}

.white {
    color: #ffffff !important;
}

.how-it-works {
    color: #fa2557;
    font-size: 17px;
    font-weight: 400;
}

.red {
    color: #fa2557;
}

.section-header.blue, .section-subheader.blue, .section-subheader2.blue {
    color: #74c6e7;
}

.reasons img {
    text-align: center;
    margin: 0 auto;
}

.reasons p {
    color: #fa2557;
    font-size: 16px;
    font-weight: 600;
}

.reasons p.emphased-text {
    font-weight: 800;
    margin-bottom: 10px;
}



.reasons-partners img {
    text-align: center;
    margin: 0 auto;
}

.reasons-partners p {
    color: #ffffff;
    font-size: 16px;
    font-weight: 300;
}

.reasons-partners p.emphased-text {
    font-weight: 800;
    margin-bottom: 10px;
}

.red-bg {
    background-color: #fa2557;
}

.blue-bg {
    background-color: #74c6e7;
}

.yellow-bg {
    background-color: #fec41f;
}

.white-bg {
    background-color: #fff !important;
}


.white {
    color: #fff;
}

ul.store-links {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul.store-links li {
    display: inline;
    padding: 10px 20px;
}

ul.store-links img {
    display: inline-block;
    margin-top: 25px;
}

ul.store-links li a:hover, ul.store-links li a:focus {
    text-decoration: none;
}

.cta-subtext {
    font-size: 24px;
    font-weight: 700;
}

.call-to-action ul.store-links li img {
    margin-top: 0;
}

.jumbotron-row {
    background-image: url('../assets/images/family-time-bg.png');
    background-repeat: no-repeat;
    background-position: left;
    height: 484px;
    padding-right: 25px;
    margin-bottom: -65px;
    /*padding: 0;*/
    width:100%;
}

.blue-bg.custom-jumbotron {
    color: #fff;
    font-size: 17px;
    font-weight: 600;
    padding-top: 55px;
    padding-left: 65px;
    padding-right: 140px;
    padding-bottom: 75px;
    margin-top: 60px;
}

.blue-bg.custom-jumbotron p {
    margin: 0;
}

.why-will-you-love {
    background-image: url('../assets/images/how-it-works-bg.png');
    background-repeat: no-repeat;
    background-position: center right;

    height: 648px;
}

.books-filter {
    background-color: #363636;
}

.books-filter .row {
    margin-bottom: 10px;
}
.books-filter label.custom {
    color: #fff;
    font-weight: 600;
    padding: 20px 0;
    width: 100px;
}

.books-filter .letter-filter a.active {
    color: #fa2557;
}

.books-filter .btn.custom-btn {
    width: 255px;
    height: 40px;
    font-size:14px;
    text-transform: inherit;
    letter-spacing: 1px;
}

.white-btn {
    background-color: #fff;
    color: #fa2557;
}

.letter-filter a {
    padding: 0 2px;
    color: #fff;
    font-weight: 600;
}

.letter-filter a:hover, .letter-filter a:active, .letter-filter a:focus {
    text-decoration: none;
    color: #fa2557;
}

.custom-radio {
    padding-left: 20px;
    padding-top: 10px;
}

.custom-radio label {
    display: inline-block;
    position: relative;
    padding-left: 30px;
    color: #fff;
    font-weight: 600;
}

.custom-radio label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 25px;
    height: 25px;
    left: 0;
    margin-left: -20px;
    border: 1px solid #cccccc;
    border-radius: 50%;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out;
    transition: border 0.15s ease-in-out;
}

.custom-radio label::after {
    display: inline-block;
    position: absolute;
    content: " ";
    width: 15px;
    height: 15px;
    left: 5px;
    top: 5px;
    margin-left: -20px;
    border-radius: 50%;
    background-color: #555555;
    -webkit-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    transform: scale(0, 0);
    -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
}

.custom-radio input[type="radio"] {
    opacity: 0;
}

.custom-radio input[type="radio"]:focus + label::before {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.custom-radio input[type="radio"]:checked + label::after {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
}

.custom-radio input[type="radio"]:disabled + label {
    opacity: 0.65;
}

.custom-radio input[type="radio"]:disabled + label::before {
    cursor: not-allowed;
}

.custom-radio.radio-inline {
    margin-top: 0;
}

.radio-primary input[type="radio"] + label::after {
    background-color: #fa2557;
}

.radio-primary input[type="radio"]:checked + label::before {
    border-color: #fa2557;
}

.radio-primary input[type="radio"]:checked + label::after {
    background-color: #fa2557;
}

.book-list img {
    margin: 0 auto;
    max-width: 200px;
}

.book-list .row {
    /*margin-bottom: 50px;*/
}

.book-list .book-title .section-header{
    font-size: 16px;
    font-weight: 600;
    color: #fa2557;
}

.book-list .custom-btn {
    font-size: 12px;
    font-weight: 700;
    padding: 10px 45px;
}

.book-list .book-entry {
    margin: 15px 0;
}

.book-list .results {
    margin: 25px 0;
}

ul.pagination li > span, ul.pagination li > a, .pagination > li:first-child > a, .pagination > li:last-child > a, ul.pager li > a {
    border-radius: 0;
    background-color: #fff;
    border: none;
    color: #c0c0c0;
    font-size: 19px;
    font-weight: 600;
    width: 30px;
}

ul.pagination li > a.active {
    color: #fa2557;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus, ul.pagination li > a:hover, ul.pagination li > a:focus {
    background-color: #fff;
    border-color: #fff;
    color: #fa2557;
}

ul.pagination, ul.pager {
    margin: 20px 0 0;
}

.pagination img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 0;
}

.pagination img.left {
    margin-right: 30px;
}

.pagination img.right {
    margin-left: 30px;
}

.slider-track, .slider-selection {
    background-color: #fa2557;
    background-image: none;
}

.slider.slider-horizontal .slider-track {
    height: 5px;
    margin-top: -2px;
}

.slider-handle {
    background-color: #fff;
    background-image: none;
    width: 25px;
    height: 25px;
    top: -2px;
    color: #fa2557;
    font-weight: 700;
}

.slider.slider-horizontal .slider-tick, .slider.slider-horizontal .slider-handle {
    padding-left: 8px;
}

.age-range span {
    color: #fff;
    font-weight: 600;
    padding: 0 15px;
}

.slider.slider-horizontal {
    width: 115px;
}

.link-back {
    font-size: 16px;
    font-weight: 600;
    color: #fa2557;

}

.link-back img {
    display: inline-block;
    margin-bottom: 3px;
}

.link-back:active, .link-back:focus, .link-back:hover {
    text-decoration: none;
    color: #3b3d40;
}

.book-bg {
    background-image: url('../assets/images/transparent-left.png'), url('../assets/images/transparent-right.png');
    background-repeat: no-repeat;
    background-position: top left, center right;
}

.book-details {
    padding-top: 90px;
}

.book-details .main-content {
    margin-top: 35px;
}

.book-details .main-content .author {
    font-weight: 600;
    font-size: 16px;
}

.book-details .main-content .emphased-text {
    font-size: 16px;
    font-weight: 700;
    color: #fa2557;
}

.book-details .main-content .genre {
    color: #616161;
    font-weight:600;
    padding-left: 10px;
    text-decoration: underline;
}

.book-details .section-header {
    margin-top: -5px;
}

.inside-images {
    width: 360px;
    padding-left: 0;
    padding-top: 25px;
    margin-left: 0;
}

.inside-images a {
    display: inline-block;
    padding-right: 7px;
}

.inside-carousel img {
    max-height: 110px;
}


.book-category-slider i {
    color:#fa2557;
    font-size: 20px;
}

.book-category-slider .prev ,
.book-category-slider .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.book-category-slider .prev  {
    float: left;
    left: -20px;
}

.book-category-slider .next {
    float: right;
    right: -20px;
}

.book-category-slider img {
    padding: 20px 10px;
    display: inline-block;
    max-width: 100px;
}

.book-category-slider .owl-item {
    max-width: 120px;
}

.category-slider {
    margin-top:50px;
    margin-bottom: 100px;
}

.category-slider .more-from {
    font-weight: 700;
    color: #fa2557;

}

.category-slider span {
    font-weight: 600;
    font-size: 20px;
    color: #616161;
}

.about-header {
    height: 729px;
    background-color: #7ccaea;
}

.about-header img {
    display: inline-block;
}

.about-us p {
    color: #7ccaea;
    font-size: 18px;
    font-weight: 400;
}

.about-us .section-header {
    margin-top: 40px;
    margin-bottom: 30px;
}

.about-us .section-subheader {
    color: #fa2557;
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    text-transform: inherit;
    margin-top: 40px;
    margin-bottom: 15px;
}

.contact-form button {
    width: 180px;
    height: 40px;
    margin-top: 20px;
}

.about-us-pattern-1 {
    background-image: url('../assets/images/about-pattern-1.png');
    background-repeat: no-repeat;
    height: 373px;
    position: absolute;
    width: 143px;
    margin-top: 100px;
    z-index: 0;
}

.about-us-pattern-2 {
    background-image: url('../assets/images/about-pattern-2.png');
    background-repeat: no-repeat;
    height: 379px;
    position: absolute;
    width: 117px;
    right: 0;
    margin-top: 680px;
    z-index: 0;
}

.contact-form {
    background-image: url('../assets/images/about-pattern-3.png');
    background-repeat: no-repeat;
    background-position: left top;
}

.contact-form label {
    color: #fa2557;
    font-size: 16px;
    font-weight: 600;
}

.contact-form input, .contact-form textarea {
    background-color: #eeeeee;
    border-color: #eeeeee;
    box-shadow: none;
    color: #a2a2a2;
    height: 50px;
}

.contact-form textarea {
    height: 200px;
}

.select2-container--default .select2-results > .select2-results__options {
    max-height: 300px;
}

.select2-container--default .select2-selection--single {
    padding:10px 5px;
    height: 50px;
    position: relative;
    background-color: #eeeeee;
    border-color: #eeeeee;
    box-shadow: none;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #a2a2a2;
}

.select2-results__option, .select2-results__option--highlighted {
    height: 50px;
    padding:10px 15px;
    background-color: #eeeeee;
    border-top: 1px;
    color: #a2a2a2;
}

/* hide selected element for UX */
.select2-container--default .select2-results__option[aria-selected="true"] {
    display: none;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #fa2557;
    border-color: #fa2557;
    color: #fff;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    width: 40px;
    color: #a2a2a2;
    font-size: 40px;
    font-weight: 100;
    padding: 0;
    height: 50px;
    position: absolute;
    top: -5px;
    right: 0;
}

span.select2-selection.select2-selection--single {
    outline: none;
}

.select2-dropdown {
    border: none;
}

.spinner {
    margin: 0 auto;
    width: 70px;
    text-align: center;
}

.spinner > div {
    width: 18px;
    height: 18px;
    background-color: #fff;
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0) }
    40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    } 40% {
          -webkit-transform: scale(1.0);
          transform: scale(1.0);
      }
}

.row.loading {
    display: none;
}

.error-msg {
    margin:30px;
    text-align:center;
    color:#fa2557;
    font-weight:600;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
    outline: none;
}

.input:focus,
.input:active:focus,
.input.active:focus,
.input.focus,
.input:active.focus,
.input.active.focus {
    outline: none;
}

.modal-content .modal-header {
    background-color: #fa2557;
}

.modal-header .close {
    color: #fff;
}

.help-center .section-subheader {
    font-size: 26px;
    font-weight: 600;
    text-transform: inherit;
}

.help-center .section-subheader2, .contact-form .section-subheader2 {
    font-size: 20px;
    font-weight: 600;
    text-transform: inherit;
}

.help-center .recent-activity {
    background-color: #fca0aa;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    padding: 35px 15px 35px 25px;
    border-radius: 3px;
}

.no-padding {
    padding: 0 !important;
}

/**/
#accordion {
    margin-top: 20px;
}

#accordion .accordion-group {
    padding: 18px;
    margin-top: 2px;
    border-radius: 1px;
}

#accordion .accordion-group .accordion-toggle {
    font-weight: 500;
    font-size: 16px;
}

#accordion .accordion-group:nth-child(odd) {
    background-color: #eeeeee;
}

#accordion .accordion-group:nth-child(odd) .accordion-toggle,
#accordion .accordion-group:nth-child(odd) .accordion-inner {
    color: #fa2557;
}

#accordion .accordion-group:nth-child(even) {
    background-color: #fca0aa;
}

#accordion .accordion-group:nth-child(even) .accordion-toggle,
#accordion .accordion-group:nth-child(even) .accordion-inner {
    color: #fff;
}

#accordion .accordion-inner {
    padding: 15px 0;
}

.accordion-toggle:after {
    color: #fa2557;
    font-family: 'FontAwesome';
    content: "\f078";
    float: right;
}
.accordion-opened .accordion-toggle:after {
    color: #fa2557;
    content: "\f054";
}

#accordion-links {
    margin-top: 20px;
}

#accordion-links .accordion-group .accordion-heading {
    height: 50px;
}

#accordion-links .accordion-group .accordion-heading  {
    padding: 15px;
    margin-top: 2px;
    border-radius: 1px;
}

#accordion-links .accordion-group:nth-child(odd) {
    background-color: #eeeeee;
}

#accordion-links .accordion-group:nth-child(odd) .accordion-link,
#accordion-links .accordion-group:nth-child(odd) .accordion-inner {
    color: #fa2557;
}

#accordion-links .accordion-group:nth-child(even) {
    background-color: #fca0aa;
}

#accordion-links .accordion-group:nth-child(even) .accordion-link,
#accordion-links .accordion-group:nth-child(even) .accordion-inner {
    color: #fff;
}


.container.contact-us .contact-form {
    background-image: none;
}

.container.contact-us {
    background-image: url('../assets/images/contact-bg-1.png'), url('../assets/images/contact-bg-2.png');
    background-repeat: no-repeat;
    background-position: left center, right top;
    height: 100%;
    width: 100%;
}

.container.offices {
    margin-top: 20px;
    margin-bottom: 40px;
}

.office-info {
    margin: 10px 0;
}

.office-info p {
    margin-bottom: 2px;
    color: #7ccaea;
    font-weight: 600;
}

.office-info p.office-header {
    font-size: 17px;
}

.help-center {
    background-image: url('../assets/images/contact-bg-1.png'), url('../assets/images/contact-bg-2.png');
    background-repeat: no-repeat;
    background-position: left center, right center;
    height: 100%;
    width: 100%;
}

@media (min-width: 768px) {
    .container-small {
        width: 500px;
    }

    .container-medium {
        width: 600px;
    }

    .container-large {
        width: 970px;
    }
}
@media (max-width: 768px) {
    .blue-bg.custom-jumbotron {
        color: #fff;
        font-size: 16px;
        font-weight: 600;
        padding-top: 10px;
        padding-left: 20px;
        padding-right: 10px;
        padding-bottom: 10px;
        margin-top: 60px;
    }
    .why-will-you-love {
        background-image: none;
    }
    .reasons {
       /* margin-top: 50px; */
    }
    .about-us-pattern-1 {
        background-image: none;
    }
    .contact-form {
        background-image: none;
    }
    .about-us-pattern-2 {
        background-image: none;
    }
    .bundles {
        background-image: none;
    }
    .help-center {
        background-image: none;
    }
    .jobs {
        background-image: none !important;
    }
    .contact-form {
        background-image: none !important;
    }
    .newsletter form {
        margin: 0;
    }
    .newsletter .section-header {
        margin-top: 0 !important;
    }
    .push-50 {
        margin-top: 50px;
    }
    .mobile-push {
        margin-top: 50px;
    }
}
@media (min-width: 992px) {
    .container-small {
        width: 500px;
    }

    .container-medium {
        width: 700px;
    }

    .container-large {
        width: 1170px;
    }
}
@media (min-width: 1200px) {
    .container-small {
        width: 700px;
    }

    .container-medium {
        width: 900px;
    }

    .container-large {
        width: 1500px;
    }
}

.container-small, .container-large, .container-medium {
    max-width: 85%;
}

.clients-container {
    margin-bottom: 20px;
}

.clients-container .clients a {
    line-height: 70px;
}
.clients-container .clients .client-image {
    min-width: 120px;
    height: auto;
}

.clients-container .clients img {
    margin: auto;
    vertical-align: middle;
    display: inline-block;
    /*min-height:30px;*/
    /*max-height:50px;*/
    /*max-width: 100%;*/
    /*width: auto;*/
}

.error-text {
    color: #a94442;
}

.success-text {
    color: #2a5f2b;
}

.blue-text {
    color: #74c6e7;
    font-weight: 600;
    font-size: 18px;
}

.file-input-group .btn {
    height: 40px;
    margin: 0;
    background-color: #fa2557;
    border-color: #eeeeee;
    color: #fff;
}

.file-input-group .file-caption-name {
    margin-top: 3px;
}

.file-input-group .file-caption {
    background-color: #eeeeee;
    border-color: #eeeeee;
    box-shadow: none;
    color: #a2a2a2;
}

.file-input-group .btn-file {
    line-height: 1.7;
}

.jobs {
    background-image: url('../assets/images/recruitment-bg1.png'), url('../assets/images/recruitment-bg2.png'),  url('../assets/images/recruitment-bg3.png');
    background-repeat: no-repeat;
    background-position: left top, right center, left bottom;
}

.jobs .contact-form {
    background-image: none;
}

.push-50 {
    margin-top: 50px;
}

#getting-started-modal .modal-dialog {
    width: 350px;
}

#getting-started-modal .modal-header {
    border-radius: 8px;
    border-bottom: 0;
}
#getting-started-modal .modal-footer {
    border: 0;
}

#getting-started-modal .modal-body {
    color: #000;
    font-size: 14px;
    font-weight: bold;
    padding: 0 20px;
    margin-bottom: 40px;
}

#getting-started-modal .modal-footer {
    text-align: center;
    margin-bottom: 40px;
    padding: 0 10px;
}
#getting-started-modal .modal-footer img {
    display: inline;
    margin: 0 20px;
    width: 120px;
    /*margin: 0 auto;*/
}