.uppercase li {
    text-transform: uppercase;
}

.uppercase li a {
    font-size: 12px !important;
}

.become-partner {
    padding: 1em 0;
    text-align: center;
    background-color: #fa2557;
}

.newsletter {
    height: 325px;
    padding: 2em 0;
    text-align: center;
    background-color: #79c6e5;
    background-image: url('/assets/images/newsletter-bg.png');
    background-repeat: no-repeat;
    background-position: center;
}

.newsletter form {
    margin: 40px;
}

.newsletter form .email {
    font-size:12px;
    background-color: #91d1ec;
    border-color: #79c6e5;
    color: #FFF;
}

.newsletter .custom-btn {
    margin-left: 20px;
}

.newsletter ::-webkit-input-placeholder {
    color: #FFF;
}

.newsletter :-moz-placeholder { /* Firefox 18- */
    color: #FFF;
}

.newsletter ::-moz-placeholder { /* Firefox 19+ */
    color: #FFF;
}

.newsletter :-ms-input-placeholder {
    color: #FFF;
}

.newsletter .section-subheader {
    color: #b4def1;
}

.logo {
    position: absolute;
    top: 25px;
}
.text-center {
    display:block;
    text-align: center;
}
.text-center img {
    padding-top: 40px;
}

.section-header {
    margin-top: 20px;
    margin-bottom: 10px;
    color: #FFF;
    font-size: 35px;
    font-weight: 800;
}

.section-header-dark {
    padding-top: 20px;
    margin-top: 30px;
    color: #cccccc;
    font-size: 32px;
    font-weight: 800;
    text-align: center;
}

.section-subheader {
    color: #FFF;
    font-size: 24px;
    font-weight: 700;
}

.custom-btn {
    background-color: #fa2557;
    color: #FFF;
    text-transform: uppercase;
    border-radius: 20px;
    font-size: 12px;
    font-weight: 700;
    padding: 10px 35px;
}

.custom-btn.btn:hover, .custom-btn.btn:focus, .custom-btn.btn.focus {
    color: #3b3d40;
}

.pink-btn {
    background-color: #fa2557;
    color: #FFF;
}

.white-btn {
    background-color: #FFF;
    color: #fa2557;
}

.pink-button:hover, .pink-button:focus, .pink-button:active, .pink-button.active, .open > .dropdown-toggle.pink-button {
    background: #33a6cc;
}

.pink-button:active, .pink-button.active {
    background: #007299;
    box-shadow: none;
}

footer {
    color: #f6f6f6;
}

footer {
    padding: 0 !important;
}

footer .top {
    background-color: #494A4D;
}

footer [class*="col-"] {
    margin: 20px 0;
}

footer .bottom {
    background-color: #3b3d40;
}

footer .section-header {
    color: #d4d4d4 !important;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
    margin-top: 30px;
}

footer ul {
    list-style: none;
}

footer a {
    color: #f6f6f6;
    text-decoration: none;
}

footer a:hover {
    color: #fa2557;
    text-decoration: none;
}

footer p.qa {
    font-style: italic;
}

.top-nav a {
    color: #fff;
    font-weight: 800;
    font-size: 13px;
}

.transparent-header .dark.header .navbar-nav > li > a {
    color: #fff;
    text-shadow: none;
}

.navbar-default .navbar-nav > li > a {
    font-weight: 700;
    font-size: 12px;
}

.top-nav > li > a:hover, .top-nav > li > a:focus {
    color: inherit;
    background-color: inherit;
}

.top-nav > li {
    float: left;
}

.navbar-default .navbar-nav > li > a {
    padding: 10px 15px;
}

.navbar-default .active-menu {
    width: 70%;
    float: left;
    border-color: #FFF;
    top: 13px;
    left: 8px;
    position: absolute;
}

@media (max-width: 991px) and (min-width: 768px) {
    .header:not(.full-width) .main-navigation .navbar-nav {
        float: right !important;
    }
}

@media (max-width: 769px) {
    .logo {
        top: 27px;
    }
}

@media (max-width: 990px) and (min-width: 770px) {
    .logo {
        top: 10px;
    }
}

@media (min-width: 991px) {
    .logo {
        top: 40px;
    }
}

@media (min-width: 768px) {
    .newsletter form .email {
        min-width: 380px;
    }
}

.fixed.header .main-navigation.animated .active-menu {
    display: none;
}

.fixed.header .main-navigation.animated .navbar-nav > li > a {
    padding: 10px 20px !important;
}


.follow-us i {
    font-size: 30px;
}


.follow-us li {
    padding: 0 10px;
    display: inline;
}


.follow-us ul {
    list-style-type: none;
    padding: 0;
}

.follow-us ul img{
    display: inline-block;
    margin-top: 25px;
}

.follow-us .social-icons {
    margin-top: 38px;
}

.follow-us .social-icons li {
    padding: 0 17px;
}

.follow-us .store-links {
    margin-top: 10px;
}

.follow-us .store-links li {
    padding: 10px 20px;
}

.helpful-links a {
    font-weight: 400;
    font-size: 16px;
}

.helpful-links ul {
    padding: 0px;
}

.partners .section-header-dark, .become-partner .section-header {
    padding-top: 0px;
    margin-top: 20px;
    text-transform: inherit;
}

.bundles {
    background-image: url('../assets/images/bundle-left.png'), url('../assets/images/bundle-right.png');
    background-repeat: no-repeat;
    background-position: left center, right center;
    height: 486px;
    width: 100%;
}

.bundles img {
    text-align: center;
    margin: 0 auto;
    height: 100%;
}


.slideshow .slider-banner-container .bullet {
    background: rgba(255,255,255, 0.9) none repeat scroll 0 0 !important;
    margin-right: 10px !important;
}

.slideshow .slider-banner-container .bullet.selected, .slideshow .slider-banner-container .bullet:hover {
    background: rgba(186, 13, 51, 0.9) none repeat scroll 0 0 !important;
}

div.tparrows {
    display: none;
}